dist: bionic
language: cpp
branches:
  only:
    - Tests
    - build-ui-automate-simulator

before_install:
  - sudo apt install -y qemu-kvm qemu-utils
addons:
  apt:
    update: true

install:
  - echo "is it suppoted kvm? $(egrep -c '(vmx|svm)' /proc/cpuinfo)"
  - sudo lsmod | grep kvm
  - if [ -f /dev/kvm ]; then echo "/dev/kvm exists"; fi

script:
  - ./tests/pipeline/prepare.sh --dry-run
  - ./Base/Tests/Pipeline/Create.sh
